 * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: rgb(100, 255, 0);
}

/* Estilo del cuerpo de la pagina */
body {
    background-color: rgb(122, 115, 106);
    background-image: url("./images/fondoQatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Titulo */
h1 {
    font-size: 2.7rem;

    text-align: center;
}
h2 {
    font-size: 1.9rem;

    text-align: center;
}

/* Contenedor */
.container {  
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 1fr 1fr;
    gap: 5em;
    grid-auto-flow: row;
    grid-template-areas:
      "g1 g2 g3 g4"
      "g5 g6 g7 g8";
    margin: 2rem;
}
  
/* Tarjetas de grupos */
.g1 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g1;
}
.g2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g2;
}
.g3 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g3;
}
.g4 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g4;
}
.g5 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g5;
}
.g6 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g6;
}
.g7 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g7;
}
.g8 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    grid-auto-flow: row;
    grid-area: g8;
}
.ganadores {
    margin: 0vh 1vw;
}

/* Estilo de los botones */
button {
    border-radius: 2rem;
    padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.719);
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
}

/* Estilo de las tarjetas */
section {
    text-align: center;
    font-weight: bolder;
    border: 0.3rem solid rgb(100, 255, 0);
    border-radius: 2rem;
    padding: 0.3rem;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    background-image: url("./images/pelota.jpg");
    background-size: cover;
    background-position: center center;
}

/* Paises */
p {
    font-size: 2rem;
}

/* Pie de Pagina */
h1 a {
    text-decoration: none;
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0.295);
    text-align: center;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
}
a:link, a:visited {
    color: rgb(255, 255, 0);
}
a:hover {
    color: darkgoldenrod;
}

/* Manipular con JS */
.hide {
    display: none;
}
#volver {
    background-color: rgba(0, 0, 0, 0.295);
    color: rgb(255, 255, 0);
}

/* Estilo de fase final */
#sig-fase {
    margin-top: -10rem;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5rem;
}

#octavos {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
  border: 0.3rem solid rgb(100, 255, 0);
  border-radius: 2rem;
  padding: 3rem;
}